---
- name: update apt cache
  apt: { update_cache: yes, cache_valid_time: 3600 }
- include: network.yml
  tags: network
- include: hostname.yml
  tags: hostname
- include: resolv.yml
  tags: resolv
- include: journald.yml
- include: sshd.yml
# TODO: firewall on containers?
- include: firewall.yml
- include: mta.yml
- name: uninstall unused packages
  apt: { name: "{{item}}", purge: yes, state: absent }
  with_items: [mlocate, snapd]
- name: enable zram swap
  apt: { name: zram-config, install_recommends: no }
